@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');

body {
    text-align: center;
    background-color: rgb(255,155,4)
}

h1, p {
    font-family: 'Knewave', cursive;
    color: rgb(255,254,252);
}

h1 {
    font-size: 3rem;
}


.container {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 1rem auto;
    background-image: url('zone.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.75rem;
}


.mars {
    position: relative;
    top: 58%;
    left: 3.5%;
    width: 11rem;
    height: 6.9rem;
    transform: skewY(-2deg) skewX(-1.5deg);
    border-radius: 0.3rem;
}

button {
    font-family: 'Stalinist One', cursive;
    padding: 0.5rem 0.7rem;
    line-height: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(159,223,9);
    background-color: rgb(106,21,173);
    border: none;
    border-radius: 0.7rem;
}